{% extends 'base.html' %}
{% load static %}
{% block title %}

    Product

{% endblock title %}

{% block body %}

<div class="container py-5">
    <div class="row mt-5">
        <div class="col-10 mx-auto col-md-6 my-3">
            <img class="col-10 mx-auto col-md-6 my-3" src="{{ product.image.url }}">
        </div>
    </div>
</div>
<div class="col-10 mx-auto col-md-6 my-3">
    <div>
        <h1 class="product_title">{{ product.name }}</h1>
        <h5 class="text-info font-italic mb-4">
            ${{product.product_max_price}}
        </h5>
        <p class="product_desc">Product Description</p>
        <p class="text-justify product_text">
            {{ product.descriptions }}
        </p>
        {% if user.is_authenticated %}
            {% if product.is_active <= 0 %}
            <p class="text-justify product_text">Out of Stock</p>
            {% else %}
            <a href="{% url 'shop:add_card' product.id %}">Add To Card</a>
            {% endif %}
        {% else %}
            {% if product.is_active <= 0 %}
            <p class="text-justify product_text">Out of Stock</p>
            {% else %}
            <a href="{% url 'account:signinuser'%}">Add To Card</a>
            {% endif %}
        {% endif %}
        
    </div>
</div>

{% endblock body %}